#Background {
    background-color: black;
    color: white;
}

.enemyHand {
    display:flex;
    justify-content:center;
    align-items:center;
}

.cardName {
    display:flex;
    justify-content:center;
    align-items:center;
}

#cardPic {
    height:18vh;
    object-fit: cover;
    object-position: 20% 1%;
}

.cardStats {
    margin-bottom:0px;
}

.cardBtn {
    margin-top:0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:red;
    border-color:black;
}