#Background {
    background-color: black;
    color: white;
}

.separateEnemyPlayer {
    height:20vh;
}

.card_width {
    max-width:225px;
}

.enemyHand {
    display:flex;
    justify-content:center;
    align-items:center;
}

.playerHand {
    display:flex;
    justify-content:center;
    align-items:center;
    height:35vh;
}

.cardName {
    display:flex;
    justify-content:center;
    align-items:center;
}

#cardPic {
    height:180px;
    width:220px;
    object-fit: cover;
    display:flex;
    justify-content:center;
    align-items:center;
    object-position: 50% 1%;
}

.cardStats {
    margin-bottom:0px;
}

.cardAttackBtn {
    margin-top:0.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(93,86,77,255);
    border-color:black;
    color:white
}

.cardAttackBtn:hover {
    color:white;
    background-color:rgba(195,43,40,255);
    border-color:black;
}

.cardBtn {
    margin-top:0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(75,125,192,255);
    border-color:black;
}

.cardBtn:hover {
    color:white;
    background-color:rgba(75,190,203,255);
    border-color:black;
}

.bottomScreen {
    height:20vh;
}