
/* #Random output */
#Display { 
    font-size: 300%;
    color: black;
}

#Display2 {
    font-size: 300%;
    color: black;
}

#Display3 {
    font-size: 300%;
    color: black;
}

#Display4 {
    font-size: 300%;
    color: black;
}

#Output {
    font-size: 300%;
    color: black;
}