.htmlHome
{
    background-image: url("purpGalaxy.gif");
    /* https://media3.giphy.com/media/3og0IV7MOCfnm85iRa/giphy.gif */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
  
    background-color:#03496E;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90%;
}