/*Ariahs CSS------------------------------------------*/

#HomePage {
    background-color:rgba(54, 151, 203, 0.5);
    padding:0px 10px 10px 30px;
  }

.extraPadingh2 {
    padding-top: 40px;
  }

#YoutubeVid {
    padding-left: 260px;
  }
  
/* for tags.html */
#imgInvisi {
    margin-left: 325px;
  }
/* Ariah END------------------------------------------*/

/*Max CSS------------------------------------------*/
/*Max END------------------------------------------*/

/*Jason CSS------------------------------------------*/
/*Jason END------------------------------------------*/

/*Marc CSS------------------------------------------*/
.tablesize {
    width: 100px;
    height: 100px;
    font-size: 30;
  }
/*Marc End------------------------------------------*/
